/* ------------ MENÚ --------*/
.custom-icon path {
    fill: white;
}

.nav-link.active {
    color: rgb(0, 255, 8) !important;
    /* Cambia el color del texto del enlace activo a rojo */
    /* También puedes cambiar otros estilos, como el fondo o el subrayado si lo deseas */
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c2328;
    display: flex;
    justify-content: flex-end;
    /* Alinea los elementos a la derecha */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 10px 0;
}

.menu .nav-link {
    color: rgb(254, 254, 254);
    font-size: 11px;
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

/* Estilo para cambiar el color del texto al pasar el ratón sobre los enlaces */
.menu .nav-link:hover {
    color: rgb(9, 189, 96);
    /* Color de texto al pasar el ratón */
}



.menu .nav {
    display: flex;
    /* Utiliza flexbox para distribuir los elementos */
    justify-content: flex-end;
    /* Alinea los elementos al final del contenedor */
    gap: 5px;
    /* Agrega un espacio entre los elementos */
}

.menu .nav-item {
    list-style: none;
    /* Quita los puntos de la lista */
}

.menu .nav-underline>li:last-child {
    margin-right: 20px;
}

/*---------------FIN MENÚ -------------*/

/*------------------------------------ logos menú -----------------------------*/


/* Estilo para los elementos de lista */
li {
    list-style: none;
    /* Quita los puntos de la lista */
}

/* Estilo para el contenedor de los logotipos */
.logos-container {
    display: inline-block;
    /* Cambia a un elemento de bloque en línea */
}

/* Estilo para los elementos de la lista */
ul {
    padding: 0;
    /* Elimina el relleno predeterminado de la lista */
}

/* Estilo para los elementos <li> que contienen los logotipos */
.lolog1,
.lolog2,
.lolog3,
.logo4,
.logo5,
.logo6 {
    display: inline-block;
    /* Hace que los elementos <li> se muestren en línea */
    margin-right: 10px;
    /* Espacio entre cada logotipo y el texto */
    vertical-align: middle;
    /* Alinea verticalmente con el texto */
}

/* Estilo para los logotipos */
svg {
    width: 20px;
    /* Tamaño del logo */
    height: 20px;
    /* Tamaño del logo */
    margin-right: 2px;
    /* Espacio entre cada logo */
    fill: rgb(108, 240, 20);
    /* Cambia el color de los logotipos a blanco */
}

/*-------------------------- fin logo menú --------------------*/

#my-row-0 {
    background-color: #1c2328;
    max-width: 100%;
 /*   margin-left: 20px; /* MARGENES LATERALES *
    margin-right: 20px; */
}

.titulo-0 {
    color: blue;
    text-align: center;
}

.texto-O {
    color: chartreuse;
}




/*_________________________________ 3 __________________________*/


.section-3 {
    background-color: #1c2328;
    max-width: 100%;
    height: auto;
 /*   margin-left: 20px;
    margin-right: 20px; */
  
}

.subtitulo-1 {
    color: rgb(247, 247, 247);
    font-weight: 900;
    font-size: 55px;
}

.texto-B {
    color: crimson;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.carr-1,
.texcarr-1,
.carr-2,
.texcarr-2,
.carr-3,
.texcarr-3{
    color: rgb(250, 5, 5);
    font-weight: 900;
    font-size: 22px;
}


/*____________________________________ 4 __________________________________*/


.subtitulo-2 {
    color: rgb(1, 1, 1);
    font-weight: 900;
    font-size: 55px;
}

.section-4 {
    background-image: url('../img/ambas1_0.jpg');/* Ruta de la imagen de fondo */
    background-size: cover;/* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center;/* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.til-1 {
    color: #1c2328;
    font-weight: 800;
}


.form-label,
.form-select,
.form-control {
    border-radius: 20px !important;
    font-size: large;
    font-weight: 700;
  
}

.btn-primary-1 {
    background-color: #1c2328 !important; /* color dark */
    color: rgb(248, 255, 255) !important;
    width: 30%;
    height: 45px;
    border-radius: 30px !important;
}

.mi-form {
    border: 4px solid rgba(198, 198, 198, 0.642);
    background-color: rgba(250, 235, 215, 0.508);
    border-radius: 20px;
    margin-left: 10% !important;
    width: 40%;
    height: 780px; /* Ajusta este valor según la altura fija deseada */
    text-align: left;
}



/*_____________________ CONTACTO Y MAPA  _________________*/

.new-columna {
  /*  background-color: #1c2328; */
    background-image: url('../img/fonCont.png');/* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.texinicio-2{
    color: #fac031;
    
}

.subtitulo-11{
    color: rgb(255, 255, 255);
}

 .subt-8,
 .subt-9 {
     margin-bottom: 1em; /* Espacio entre títulos y párrafos */
     color: rgb(253, 208, 139);
 }

.tex-11{
    color: rgb(255, 254, 254);
    margin-bottom: 0.5em;
}



/*________________ COLUMNA 2 ______________*/

.subtitulo-22 {
    color: chartreuse;
}

.tex-22 {
    color: rgb(242, 239, 242);
   
}

.btn-colum-2{
    color: rgb(96, 95, 95) !important;
    background-color: #fac031 !important;
    border-radius: 20px !important;
    width: 30%;
    height: 45px;
}

/*_____________________________ UBICACIÓN ___________________________*/

.new-columna-ubi {
    background-color: #fac031;
}





















/*________________________________ pie página ___________________________*/

/*footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: #333;
    color: #fff;
    padding: 2px 0; /* Reducir el espacio interno vertical *
    font-size: 14px;/* Reducir el tamaño del texto *
    display: flex;
    justify-content: space-between;/* Distribuir elementos a los lados del contenedor *
    align-items: center;
    padding-left: 50px; /* Ajuste de margen izquierdo para espacio interno *
    padding-right: 50px;/* Ajuste de margen derecho para espacio interno *
}
*/

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Esto distribuirá los elementos a los lados del contenedor */
    align-items: center;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin-right: 20px;
    /* Ajusta este valor según tu preferencia */
}

.social-icons li:last-child {
    margin-right: 0;
    /* Eliminar margen derecho del último ícono */
}

.logo {
    margin-left: 50px;
    /* Añadir espacio a la izquierda del logo */
}

.logo img {
    width: 44.66px;
    height: auto;
}




